@tailwind base;
@tailwind components;

@layer base {
  .custom-h2 {
    @apply text-6xl text-green font-bold;
  }
  .custom-shadow-teal {
    -webkit-box-shadow: -2px 9px 9px -6px rgba(16, 128, 128, 0.88);
    -moz-box-shadow: -2px 9px 9px -6px rgba(16, 128, 128, 0.88);
    box-shadow: -2px 9px 9px -6px rgba(16, 128, 128, 0.88);
  }
}

@tailwind utilities;